body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: black;
}

nav {
    width: 100%;
    max-width: 1140px;
    display: flex;
    justify-content: space-evenly;
}

a:hover {
    color: blue;
}

nav a {
    color: white;
    text-decoration: none;
}

p {
    max-width: 1140px;
    text-align: center;
    font-size: 18px;
}

img {
    max-width: 550px;
    max-height: 275px;
    margin-top: 30px;
    margin-bottom: 30px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}